[submodule "hujia-data-visualisation"]
	path = hujia-data-visualisation
	url = https://github.com/waaaaaaai/hujia-data-visualisation.git
[submodule "vue.js/vueinterface"]
	path = vue.js/vueinterface
	url = https://github.com/waaaaaaai/vueinterface.git
[submodule "portfolio/hadoop-coursera"]
	path = portfolio/hadoop-coursera
	url = https://github.com/waaaaaaai/hadoop-coursera.git
[submodule "hadoop-coursera"]
	path = hadoop-coursera
	url = https://github.com/waaaaaaai/hadoop-coursera.git
